[Unit]
Description=AliasVault – Postgres
Requires=aliasvault-pod.service
After=aliasvault-pod.service

[Container]
Image=docker.io/library/postgres:16-alpine
ContainerName=aliasvault-postgres
Pod=aliasvault.pod
Environment=POSTGRES_DB=aliasvault
Environment=POSTGRES_USER=aliasvault
Secret=aliasvault-postgres-password,type=env,target=POSTGRES_PASSWORD
Volume=/srv/aliasvault/database:/var/lib/postgresql/data:Z

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target