[Unit]
Description=AliasVault – Admin
Requires=aliasvault-pod.service aliasvault-postgres.service
After=aliasvault-pod.service aliasvault-postgres.service

[Container]
Image=ghcr.io/aliasvault/admin:latest
ContainerName=aliasvault-admin
Pod=aliasvault.pod
Volume=/srv/aliasvault/logs:/logs:Z
Volume=/srv/aliasvault/secrets:/secrets:ro,Z
EnvironmentFile=/srv/aliasvault/.env

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
